DB_NAME=smartsnack_db
DB_USER=smartsnack_user
DB_PASSWORD=dev_password_123
DB_HOST=db
DB_PORT=5432
SECRET_KEY=django-insecure-^r_ja_!^ulrs_fc_w!5fnu5l4a_qqwhxf*bgxukj6gd)$$atbm)
DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
